<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>config service</title>
    <link rel="stylesheet" media="screen" href="public/dist/css/global.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>


<script src="public/dist/js/bundle.js"></script>


</body>
</html>